hive:
  host: 192.168.99.100
  port: 10000
  host_shared_directory_path: /Users/Shared/tmp/spec-tmp-files
  docker_shared_directory_path: /tmp/spec-tmp-files
  hive_version: 13
  hive_options:
    'hive.exec.dynamic.partition': 'true'
    'hive.exec.dynamic.partition.mode': 'nonstrict'
    'hive.exec.max.dynamic.partitions.pernode': '100000'
    'hive.exec.max.dynamic.partitions': '100000'
    'mapred.child.java.opts': '-Xmx2048m'
